### Practical - 3 ARRAYS
### arjit ujjawal
### prn - 25070123142

In [ ]:
food= ["pizza","burger","shawarma"]
print (food)

['pizza', 'burger', 'shawarma']

In [ ]:
#list length
L=['hi','hello','bye','sigh']
print (len(L))

4

In [ ]:
# A list with strings, integers and boolean values:
list1=["abc",45,True,6.09]
print(list1)

['abc', 45, True, 6.09]

In [ ]:
#Access items
list2=["able","rohan","alexzender"]
print(list2[1])

rohan

In [ ]:
#negative indexing
list2=["able","rohan","alexzender"]
print(list2[-1])

alexzender

In [ ]:
#slicing
list2=["able","rohan","alexzender"]
print(list2[-1:-3:-1])

['alexzender', 'rohan']

In [ ]:
#change the item in the list
list2=["rome","delhi","tokyo","texas","newyork"]
list2[1]="karachi"
print(list2)

['rome', 'karachi', 'tokyo', 'texas', 'newyork']

In [ ]:
#Append iteams
list2=["rome","delhi","tokyo","texas","newyork"]
list2.append("italy")
print(list2)

['rome', 'delhi', 'tokyo', 'texas', 'newyork', 'italy']

In [ ]:
#insert item
list2=["rome","delhi","tokyo","texas","newyork"]
list2.insert(3,"italy")
print(list2)

['rome', 'delhi', 'tokyo', 'italy', 'texas', 'newyork']

In [ ]:
list2=["rome","delhi","tokyo","texas","newyork"]
list3=["able","rohan","alexzender"]
A=list2.extend(list3)
print(A)

None

In [ ]:
A="sit "*4
list(A)
A.split()

['sit', 'sit', 'sit', 'sit']

In [ ]:
numbers=[10,20,30,40,50]
print(numbers[1:4])
print(numbers[0:3])
print(numbers[2:5])
print(numbers)

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
list1 = input("enter the marks of the student: ").split()
list1 = list(map(int, list1))
mx = max(list1)
mi = min(list1)
list1.sort()

print(mx, mi,"\n",list1)

enter the marks of the student: 23 23 21 434 11
434 11
 [11, 21, 23, 23, 434]

In [3]:
#Grocery shopping list
list3= input("enter the grocery items").split()
print(list3)
new=input("enter the new items")
list3.append(new)
print(list3)
rm=input("enter the purchased item")
list3.remove(rm)
print(list3)

enter the grocery itemsayush pasta jamoon jam bread
['ayush', 'pasta', 'jamoon', 'jam', 'bread']
enter the new itemsjam
['ayush', 'pasta', 'jamoon', 'jam', 'bread', 'jam']
enter the purchased itembread
['ayush', 'pasta', 'jamoon', 'jam', 'jam']

In [4]:
list3= input("enter the contacts").split()
print(list3)
new=input("enter the new contact")
list3.append(new)
print(list3)
list3.sort()
print(list3)

enter the contactsjam jammy jamtani arjit ayush
['jam', 'jammy', 'jamtani', 'arjit', 'ayush']
enter the new contactbedang
['jam', 'jammy', 'jamtani', 'arjit', 'ayush', 'bedang']
['arjit', 'ayush', 'bedang', 'jam', 'jammy', 'jamtani']

In [8]:
temp=[90,56,44,2,23,45,65,76]
print(temp[0])
print(temp[-5:])
print(max(temp))
print(min(temp))
print(sum(temp)/len(temp))

90
[2, 23, 45, 65, 76]
90
2
50.125