#Practical 4 tuples
## arjit ujjawal
## prn - 25070123142
##batch - entc A2

In [2]:
##python tuples
#Access tuple
thistuples =  ("apples","banana","mango")
thistuples[1]="red"
print(thistuples)

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Python Tuples
# Access Tuple Items

brands = ("Gucci", "Lifestyle", "Rolex", "Casio", "Titan", "Sonata")
print(brands[3])

In [4]:
t1=(34,45,56)
t2=(23,45,32)
t3=t1+t2
print(t3)

(34, 45, 56, 23, 45, 32)

In [8]:
t1=(45,56,78,98,54,45)
t5=(34,23)
t5+=t1
print(t5)

(34, 23, 45, 56, 78, 98, 54, 45)

In [11]:
t1=(45,56,78,98,54,45)
t5=(34,23)
print("before",id(t5))
t5+=t1
print(t5)
print("after",id(t5))

before 139422871516416
(34, 23, 45, 56, 78, 98, 54, 45)
after 139423271368544

In [1]:
# Problem Statement - 1 - Student Mark Analysis

data = ("Maths", 90, "A")
print("Subject: ", data[0])
print("Marks: ", data[1])
print("Grade: ", data[2])
if (data[1] > 75):
  print("The Student has Acheieved 'Distinction'")

Subject:  Maths
Marks:  90
Grade:  A
The Student has Acheieved 'Distinction'

In [2]:
# Problem Statement - 2 Employee Attendance

attendance = ("P", "P", "P", "A", "P", "P")
print("Total Present Days: ", attendance.count("P"), "\n")
print("Total Absent Days: ", attendance.count("A"),"\n")
if ("A" in attendance):
  print("The Employee is Absent atleast once")
else:
  print("The Employee is Present")

Total Present Days:  5

Total Absent Days:  1

The Employee is Absent atleast once