#Experiment no.7
##name-Arjit ujjawal
##prn-25070123142
##batch-ENTC:A2
###Types of Loops in  Python

In [ ]:
#while loop
#used when the number of itertions is not known
#Print i as long as i is less than 6:
i=0
while i<6:
  print(i)
  i+=1

0
1
2
3
4
5

In [ ]:
#print number from 1 to N
inp=int(input("Enter the value of N:"))
i=1
while i<=inp:
  print(i)
  i+=1

Enter the value of N:6
1
2
3
4
5
6

In [ ]:
#factorial of a number:
inp=int(input("Enter the value of N:"))
k,i=inp,1
while k>0:
  i=i*k
  k=k-1
print(f"factorial of {inp} is",i)

Enter the value of N:5
factorial of 5 is 120

In [ ]:
#fibonacci series while loop
n=int(input("Enter the value of N:"))
a,b,i=0,1,0
while i<n:
  print(a,end=',')
  c=a+b
  a=b
  b=c
  i+=1

Enter the value of N:8
0,1,1,2,3,5,8,13,

In [ ]:
#reverse a number
num=int(input("Enter the number:"))
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num//=10
print("reverse number:",rev)

Enter the number:1234
reverse number: 4321

In [ ]:
#check palindrome

In [ ]:
#BEAK STATEMENT
#EXIT LOOP WHEN i=3
i=7
wh

In [ ]:
#While-continue
#print numbers from 1 to 10(skip 5)
i=1
while i<=10:
  if i!=5:
    continue
    print(i)
  else:

In [ ]:
#Print numbers from 1 to 10
i= 1
while i<=10:
  if i == 5 :
    i+=1
    continue
  print(i)
  i+=1

1
2
3
4
6
7
8
9
10

In [ ]:
#print only the odd number 1 to 10
i=1
while i<=10:
  if i%2==0:
    i+=1
    continue
  print(i,end=" ")
  i+=1

1 3 5 7 9

# For loops

In [ ]:
# Print numbers from 1 to 5
for i in range (1,6):
  print (i,end=" ")

1 2 3 4 5

In [ ]:
# Print even numbers from 1 to 10
for i in range (2,11,2):
  print (i,end=" ")

2 4 6 8 10

In [ ]:
# Sum of the first numbers
n = int (input("enter the numbers "))
s=0
for i in range (1,n+1):
  s+= i
print (s)

enter the numbers  5
15

In [ ]:
#nested loop
for i in range (1,4):
  for j in range (1,4):
    print(i,j,end=" ")
  print()

1 1 1 2 1 3
2 1 2 2 2 3
3 1 3 2 3 3

In [ ]:
#3x3 matrix display
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for i in range(3):
  for j in range (3):
    print(a[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#multiplication of two 3x3 matrices
A =[[1,2,3],[4,5,6],[7,8,9]]
B =[[1,1,1],[3,4,6],[8,5,6]]
result=[[0,0,0],[0,0,0],[0,0,0]]
for i range(3):
  for j in range(3):
    for k in range(3):
      result[i][j]+=A[i][k]*B[k][j]
print("row of the resultant matrix is ")
for row in result:
  print row

SyntaxError: invalid syntax (ipython-input-2405601921.py, line 5)

In [ ]:
n = 18
if n%2==0:
    if n in range (2,6) or (n >20):
        print ("Not Weird")
elif n in range (6,21) or (n%2==1):
    print("Weird")