#Experiment 5
##Title - to study set and dictionaries in python
###Arjit ujjawal A2 - 25070123142

In [ ]:
#creation of sets
sets={"arjit","hi"}
print(sets)

{'arjit', 'hi'}

In [ ]:
#duplicates not allowed
sets={"apples","apples","nmango"}
print(sets)

{'nmango', 'apples'}

In [ ]:
#the values true and 1 are considered the sanme value in sets, and are same
sets={True,1,"apples"}
print(sets)

{True, 'apples'}

In [ ]:
# A set with strings, integers and boolen values
set1={"abc",34,True,}
print (set1)

{True, 34, 'abc'}

In [ ]:
# To check membership
sets={"ar","be","pika"}
print("ar" in sets)

True

In [ ]:
#once a set  is created you can add element
sets={"ar","be","pika"}
sets.add("hi")
print(sets)

{'pika', 'hi', 'ar', 'be'}

In [ ]:
#remove items
sets={"ar","be","pika"}
sets.remove("ar")
print(sets)

{'pika', 'be'}

In [ ]:
#sets operations
A = {1,2,3,4,5}
B = {5,6,7,8}
print("union",A|B)
print("intersection",A & B)
print ("Difference ",A - B)
print("symmeteric difference",A^B)

union {1, 2, 3, 4, 5, 6, 7, 8}
intersection {5}
Difference  {1, 2, 3, 4}
symmeteric difference {1, 2, 3, 4, 6, 7, 8}

#Frozensets

In [ ]:
x = frozenset({"apple","banan","pikachu","raichu"})
print (x)
print(type(x))

frozenset({'banan', 'apple', 'raichu', 'pikachu'})
<class 'frozenset'>

In [ ]:
#adding and removing
B = frozenset({"apple","banan","pikachu","raichu"})
B.remove("apples")
B.add("hi")
print (B)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
#problem 1
no = int(input())
sets={"arjit"}
for i in range(1,no):
  names=input("enter the names")
  sets.add(names)
print(sets)

4
enter the namesarji
enter the namesbedang
enter the namesmu
{'arjit', 'bedang', 'arji', 'mu'}

In [ ]:
#problem 2
bhat={"hindi","sanskrit","python","socical studyies"}
bedang={"english","hindi","sanskrit"}
ayush={"iks","english","hindi"}
print("common subjects choosen by all three",bhat&bedang&ayush)

common subjects choosen by all three {'hindi'}

In [ ]:
# problem 3
Cricket={"rehman daikat","dhurandar","raone"}
football={"neha","raone","dhurandar"}
print("both club",Cricket&football)
print("in only one",Cricket^football)

both club {'dhurandar', 'raone'}
in only one {'rehman daikat', 'neha'}

In [ ]:
#Problem 4
present={"neha", "arjit", "gay","ayush"}
all={"neha", "arjit", "gay","ayush","bedang","dumbre"}
absent= all - present
print (absent)

{'bedang', 'dumbre'}

In [ ]:
#problem 5
course_code={4545,434,232}
invalid=434
course_code.remove(invalid)
print(course_code)

{232, 4545}

#Dictionary
## arjit ujjawal
## prn - 25070123142

In [1]:
#creation of dict
thisdict={"food":"pizza","colour":"red","name":"ajrit"}
print(thisdict)

{'food': 'pizza', 'colour': 'red', 'name': 'ajrit'}

In [2]:
#print key values
thisdict={"food":"pizza","colour":"red","name":"ajrit"}
print(thisdict["colour"])

red

In [3]:
#Dict will not allow duplicate
thisdict={"food":"pizza","colour":"red","name":"ajrit","name":"rohan"}
print(thisdict)

{'food': 'pizza', 'colour': 'red', 'name': 'rohan'}

In [4]:
#length of the dictionary
len(thisdict)

3

In [5]:
#Changing/adding key value in dict
thisdict={"food":"pizza","colour":"red","name":"ajrit"}
thisdict["colour"]="blue"
print(thisdict)
thisdict["number"]="45"
print(thisdict)

{'food': 'pizza', 'colour': 'blue', 'name': 'ajrit'}
{'food': 'pizza', 'colour': 'blue', 'name': 'ajrit', 'number': '45'}

In [6]:
#retrival
thisdict={"food":"pizza","colour":"red","name":"ajrit"}
print("food:",thisdict["food"])

food: pizza

In [7]:
#adding and updating
thisdict={"food":"pizza","colour":"red","name":"ajrit"}
thisdict["colour"]="blue"
print(thisdict)
thisdict["number"]="45"
print(thisdict)

{'food': 'pizza', 'colour': 'blue', 'name': 'ajrit'}
{'food': 'pizza', 'colour': 'blue', 'name': 'ajrit', 'number': '45'}

In [8]:
#removal
thisdict={"food":"pizza","colour":"red","name":"ajrit"}
print(thisdict)
thisdict.pop("food")
print("after removal",thisdict)

{'food': 'pizza', 'colour': 'red', 'name': 'ajrit'}
after removal {'colour': 'red', 'name': 'ajrit'}

In [10]:
#Question
products={"food":"apple","stationary":"pen","clothes":"pants","sports":"football"}
print(products)
store=input("enter the product you wanna remove ")
products.pop(store)
print(products)

{'food': 'apple', 'stationary': 'pen', 'clothes': 'pants', 'sports': 'football'}
enter the product you wanna remove food
{'stationary': 'pen', 'clothes': 'pants', 'sports': 'football'}

In [11]:
#Question 1
products={"football":300,"bat":90,"basketball":500,"racket":300}
print(products)
u=input("enter the product you wanna update price")
n=int(input("enter the new price"))
products[u]=n
print(products)

{'football': 300, 'bat': 90, 'basketball': 500, 'racket': 300}
enter the product you wanna update pricebat
enter the new price80
{'football': 300, 'bat': 80, 'basketball': 500, 'racket': 300}

In [12]:
#question 2
marks={"A":50,"B":40,"C":90}
n = input("name of student")
if n not in marks:
  print("not in the dict")
if n in marks:
  print(marks[n])

print(marks.get(n,"student not found"))

name of studentgytri
not in the dict
student not found

In [13]:
#Question 3
userlogin = {"arjit":456,"kushal":345,"rohan":234,"reha":290}
n = input("enter the login id ")
p = int(input("enter the password "))
if userlogin[n]==p:
  print("login successfull")
else :
  print("invalid password ")

enter the login id arjit
enter the password 456
login successfull

In [14]:
marks = {"diya" : 90, "Neha" : 95, "Gayatri" :90, "Bedang" : 93, "Arjit" : 65, }
max_stu = max(marks, key = marks.get)
print("Student with Highest marks: ", max_stu)
print("The highest marks are: ", marks[max_stu])

Student with Highest marks:  Neha
The highest marks are:  95