#Study of Pandas lib in python
#Experiment 9
#name - arjit
#prn - 25070123142

In [ ]:
import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
#Create of dataFrame
data={"name":["A","B","C","ARJIT"],
      "marks":[34,54,23,12]}
df = pd.DataFrame(data)
df

    name  marks
0      A     34
1      B     54
2      C     23
3  ARJIT     12

In [ ]:
# Find the structure of the DataFrame
df.shape

(4, 2)

In [ ]:
df.ndim

2

In [ ]:
df.size

8

In [ ]:
#Display Column Names
df.columns

Index(['name', 'marks'], dtype='object')

In [ ]:
#Check Data types of each Column
df.dtypes

name     object
marks     int64
dtype: object

In [ ]:
#access individual Column
df["name"]

0        A
1        B
2        C
3    ARJIT
Name: name, dtype: object

In [ ]:
df.loc[1]

name      B
marks    54
Name: 1, dtype: object

In [ ]:
df.iloc[0]

name      A
marks    34
Name: 0, dtype: object

In [ ]:
#Add new column
df["Grade"]=["Distinction","First class","not worthy to exist","should die"]
df

    name  marks                Grade
0      A     34          Distinction
1      B     54          First class
2      C     23  not worthy to exist
3  ARJIT     12           should die

In [ ]:
#change the value
df.loc[0,"marks"]=89
df

    name  marks
0      A     89
1      B     54
2      C     23
3  ARJIT     12

In [ ]:
#delete the column
df.drop("marks",axis=1,inplace=True)
df

    name
0      A
1      B
2      C
3  ARJIT

In [ ]:
#Perform Basic  Statistical Analysis
mean1=df["marks"].mean()
mean1

np.float64(30.75)

In [ ]:
min1=df["marks"].min()
min1

12

In [ ]:
max1=df["marks"].max()
max1

54

In [ ]:
#apply conditon (filtering)
df[df["marks"]>80]

  name  marks
0    A     89